.search-bar {
  margin-left: 30%;
  width: 100%;
  max-width: 700px;
  height: 50px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  border-radius: 60px;
  margin-top: 5px;
}

.search-bar input {
  font-family: "Kanit", sans-serif;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 22px;
  color: rgb(121, 64, 23);
}

.search-bar button img {
  width: 30px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(205, 130, 76);
  cursor: pointer;
}

.search-msg {
  margin-top: 20px;
  margin-left: 45%;
}
