.category-button {
  width: 10%;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  background-color: rgb(255, 218, 200);
  padding: 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 8px;
}

.category-img {
  height: 60px;
}

.home-background {
  width: 100%;
  margin-top: 30px;
}
