{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <title>django-ecommerce</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/searchbar.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
      rel="stylesheet"
    />
    {% endblock %}
  </head>

  <body>
    {% block navbar %}
    <nav id="navbar">
      <img class="logo" src="{% static 'images/logo.png' %}" />
      <ul>
        <li>
          <a href="{% url 'ecommerce:home' %}"><button href="#">หน้าหลัก</button></a>
        </li>

        {% if user.is_authenticated %}
        <li>
          <a  href="{% url 'ecommerce:shop-profile' user.id %}"><button>ร้านค้า {{ user.username }}</button></a>
        </li>
        <li>
          <a  href="{% url 'ecommerce:customer-profile' user.id %}"><button>ลูกค้า {{ user.username }}</button></a>
        </li>
        <li>
          <a  href="{% url 'ecommerce:logout' %}"><button>ออกจากระบบ</button></a>
        </li>
        {% else %} 
        <li>
          <a href="{% url 'ecommerce:login' %}"><button>เข้าสู่ระบบ</button></a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endblock %}

    <div id="content">{% block content %}{% endblock %}</div>
    <footer class="page-footer">
      <p class="footer-msg">principles of software architecture project</p>
    </footer>
  </body>
</html>
