{% extends "base.html" %}
{% load static %}


{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/customer-profile.css' %}" />
{% endblock %}


<!-- add shop profile page here -->
{% block content %}
<h1 class="page-msg">โปรไฟล์ของคุณ</h1>
<div class="detail-card">
  <img src="{{customer.img}}" />
  <div class="card-detail">
    <div class="detail-1">
      <h2 class="c-name">{{ user.first_name }} {{ user.last_name }}</h2>
      <p class="c-detail">โทรศัพท์ {{ customer.phone }}</p>
      <p class="c-detail">อีเมลล์ {{ user.email }}</p>
      <p class="c-detail">🏠
        {{customer.address}} {{customer.city}} {{customer.state}} {{customer.country}}
        {{customer.zipcode}}
      </p>
      <div class="button-div">
        <a href="{% url 'ecommerce:customer-edit' user.id %}"><button class="edit-button">แก้ไขข้อมูล</button></a>
      </div>
    </div>
  </div>
</div>
<h1 class="cart-msg">ตะกร้าของคุณ</h1>
<div class="cart-card">
  <main class="main-card">
        <table class="cart-table">
        <thead class="table-head">
        <tr>
          <th></th>
          <th>ชื่อสินค้า</th>
          <th>ประเภท</th>
          <th>ร้านค้า</th>
          <th>ราคา</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% if item_in_cart %} {% for cartitem in item_in_cart %}
        <tr>
          <td><img class="item-img" src="{{cartitem.item.img}}" /></td>
          <td>{{cartitem.item.name}}</td>
          <td>{{cartitem.item.category}}</td>
          <td>{{cartitem.item.shop}}</td>
          <td>{{cartitem.item.price}} บาท</td>
          <td><a href="{% url 'ecommerce:remove-cart-item' customer_id=customer.user.id cart_item_id=cartitem.id %}"><button class="delete-button">
            ลบสินค้า</button></a></td>
        </tr>
        {% endfor %}
        {% else %}
        <td><p class="no-item">ไม่มีสินค้าในตะกร้า</p></td>
          {% endif %}
       </tbody>
    </table>
</main>
</div>
<div class="order-div">
  <p class="total-msg">ราคารวม {{cart.get_cart_total}} บาท</p>
  <a href="{% url 'ecommerce:create-order' customer_id=customer.user.id %}"><button class="order-button">
    ยืนยันออเดอร์</button></a>
</div>
{% endblock %}