{% extends "base.html" %}
{% load static %}


{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/shop-edit.css' %}" />
{% endblock %}


{% block content %}
<h1 class="page-msg">แก้ไขข้อมูลร้านค้า</h1>
<div class="form-container">
<form class="the-form" method="POST" action="{% url 'ecommerce:edit-shop-profile-submit' shop_id=shop.owner.id %}">
    {% csrf_token %}
    <label for="img">URLรูปโปรไฟล์</label>
    <input class="input-bar" type="text" name="img" required="required" value="{{ shop.img }}"/>
    <br />
    <label for="desc">คำอธิบายร้านค้า</label>
    <input class="input-bar" type="text" name="desc" value="{{ shop.desc }}">
    <br />
    <label for="phone">เบอร์โทรศัพท์</label>
    <input class="input-bar" type="text" name="phone" required="required" value="{{ shop.phone }}"/>
    <br />
    <label for="email">อีเมลล์</label>
    <input class="input-bar" type="text" name="email" required="required" value="{{ shop.owner.email }}" />
    <br />
    <label for="address">ที่อยู่</label>
    <input class="input-bar" type="text" name="address" required="required" value="{{ shop.address }}"/>
    <br />
    <label for="city">อำเภอ</label>
    <input class="input-bar" type="text" name="city" required="required" value="{{ shop.city }}"/>
    <br />
    <label for="state">จังหวัด</label>
    <input class="input-bar" type="text" name="state" required="required" value="{{ shop.state }}"/>
    <br />
    <label for="country">ประเทศ</label>
    <input class="input-bar" type="text" name="country" required="required" value="{{ shop.country }}"/>
    <br />
    <label for="zipcode">รหัสไปรษณีย์</label>
    <input class="input-bar" type="text" name="zipcode" required="required" value="{{ shop.zipcode }}"/>
    <br />
    <input class="submit-button" type="submit" value="ยืนยัน" />
</form>
</div>
{% endblock %}