{% extends "base.html" %}
{% load static %}


{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}


{% block content %}

{% include "ecommerce/templates/searchbar.html" %}

<div>
  {% for c in category %}
  <a href="{% url 'ecommerce:products' category=c.name %}">
    <button class="category-button" style="width: 10%">
      <img class="category-img" src="{{ c.absolute_image_url }}" />
      <p>{{ c.name }}</p>
    </button></a
  >
  {% endfor %}
</div>
<img class="home-background" style="width: 100%"src="{% static 'images/background.jpg' %}" />
{% endblock %}
