{% extends "base.html" %}
{% load static %}


{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/login-register.css' %}" />
<!-- show message after unsuccessful login -->
{% if msg %}
<script>
    window.onload = function() {
        alert("{{ msg }}")
    };
</script>
{% endif %}
{% endblock %}


{% block content %}
<h1 class="page-msg">เข้าสู่ระบบสำหรับลูกค้า</h1>
<div class="form-container">
<form class="the-form" method="POST" action="{% url 'ecommerce:login-submit' %}">
    {% csrf_token %}
    <label for="username">username</label>
    <input class="input-bar" type="text" name="username" required="required"/>
    <br />
    <label for="password">password</label>
    <input class="input-bar" type="password" name="password" required="required"/>
    <br />
    <input class="submit-button"type="submit" value="เข้าสู่ระบบ" />
</form>

<a href="{% url 'ecommerce:register' %}">สมัครสมาชิก</a>
<br />
<a href="{% url 'ecommerce:login-shop' %}">เข้าสู่ระบบสำหรับร้านค้า</a>
</div>
{% endblock %}