{% extends "base.html" %} {% load static %} {% block head %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/products.css' %}" />
{% endblock %}


{% block content %}

{% include "ecommerce/templates/searchbar.html" %}


<h1 class="category-msg">
  {% if q %}
  ผลลัพธ์การค้นหา "{{ q }}"
  {% else %}
  สินค้าประเภท{{ category.name }}
  {% endif %}
</h1>

<div class="container">
  {% if items_list %} {% for item in items_list %}
  <div class="item-card">
    <img src="{{item.img}}" />
    <h2>{{ item.name }}</h2>
    <p class="item-category">{{ item.category}}</p>
    <div class="item-data">
      <h3 class="item-shop">{{ item.shop }}</h3>
      <h3 class="item-quantity">จำนวน {{ item.qty }}</h3>
      <h3 class="item-price">{{ item.price }} บาท</h3>
    </div>
  </div>
  {% endfor %} {% else %}
  <p class="no-item">ไม่มีสินค้าในขณะนี้</p>
  {% endif %}
</div>
{% endblock %}
