{% extends "base.html" %} {% load static %} {% block head %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/product-detail.css' %}" />
{% endblock %}

<!-- this is only temp, please edit this as you wish -->
{% block content %}
<h1 class="page-msg">สินค้าที่เลือก</h1>
<div class="detail-card">
  <img class="card-img" src="{{item.img}}" />
  <div class="card-detail">
    <div class="detail-1">
      <h2 class="item-name">{{ item.name }}</h2>
      <p class="item-category">{{ item.category}}</p>
      <p class="item-desc">{{ item.desc }}</p>
    </div>
    <div class="detail-2">
      <p class="item-qty">จำนวนคงเหลือ {{ item.qty }}</p>
      <p class="item-price">{{ item.price }} บาท</p>
    </div>
    <div>
      <a><button class="add-to-cart-button">เพิ่มไปยังตะกร้า</button></a>
    </div>
  </div>
</div>
<div class="shop-card">
  <img class="shop-img" src="{{item.shop.img}}" />
  <div class="shop-detail">
    <div><img class="shop-logo" src="{% static 'images/shop.png' %}" /></div>
    <div>
      <h2 class="shop-name">{{item.shop}}</h2>
      <h3 class="shop-desc">{{item.shop.desc}}</h3>
      <a href="{% url 'ecommerce:shop' item.shop.owner.id %}"
        ><button class="shop-button">ไปยังหน้าร้านค้า</button></a
      >
    </div>
  </div>
</div>
{% endblock %}
