{% extends "base.html" %}

<!-- Edit content here -->
{% block content %}
<link rel="stylesheet" href="static/css/home.css" />
<h1 class="search-msg">ค้นหาสินค้า</h1>
<form action="" class="search-bar">
  <input type="text" placeholder="เช่น ชั้นวางหนังสือ" name="products" />
  <a href="{% url 'ecommerce:products' %}"
    ><button type="submit">
      <img src="static/images/search.png" /></button
  ></a>
</form>
<div>
  <table class="products table">
    <tr>
        {% if items_list %}
            {% for item in items_list %}
                <tr>
                    <td>
                        <h3>{{ item.name }}</h3>
                        <h3>{{item.category}}</h3>
                        <h3>{{item.shop}}</h3>
                        <h3>{{item.qty}}</h3>
                    </td>             
                </tr>
            {% endfor %}
        {% else %}
            <p style="margin-left: 50px">No items are available.</p>
        {% endif %}
    </tr>
</table>
</div>

{% endblock %}
