{% extends "base.html" %}
{% load static %}


{% block head %}
{{ block.super }}

<!-- show message after unsuccessful login -->
{% if msg %}
<script>
    window.onload = function() {
        alert("{{ msg }}")
    };
</script>
{% endif %}
{% endblock %}


{% block content %}
<h1>Register</h1>
<form method="POST" action="{% url 'ecommerce:register-submit' %}">
    {% csrf_token %}
    <label for="username">username:</label>
    <input type="text" name="username" required="required"/>
    <br />
    <label for="password">password:</label>
    <input type="password" name="password" required="required"/>
    <br />
    <label for="cf-password">confirm:</label>
    <input type="password" name="cf-password" required="required"/>
    <br />
    <label for="email">email:</label>
    <input type="email" name="email" required="required" />
    <br />
    <h2>Personal Information</h2>
    <label for="firstname">firstname:</label>
    <input type="text" name="firstname" required="required"/>
    <br />
    <label for="lastname">lastname:</label>
    <input type="text" name="lastname" required="required"/>
    <br />
    <label for="phone">phone:</label>
    <input type="text" name="phone" required="required"/>
    <br />
    <h2>Address</h2>
    <label for="address">address:</label>
    <input type="text" name="address" required="required"/>
    <br />
    <label for="city">city:</label>
    <input type="text" name="city" required="required"/>
    <br />
    <label for="state">state:</label>
    <input type="text" name="state" required="required"/>
    <br />
    <label for="country">country:</label>
    <input type="text" name="country" required="required"/>
    <br />
    <label for="zipcode">zipcode:</label>
    <input type="text" name="zipcode" required="required"/>
    <br />
    <input type="submit" value="submit" />
</form>
{% endblock %}