{% extends "base.html" %}
{% load static %}


{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/shop-profile.css' %}" />
{% endblock %}


<!-- add shop profile page here -->
{% block content %}
<h1 class="page-msg">หน้าร้านของคุณ</h1>
<div class="detail-card">
  <img src="{{shop.img}}" />
  <div class="card-detail">
    <div class="detail-1">
      <h2 class="shop-name">{{ shop.name }}</h2>
      <p class="shop-desc">{{ shop.desc}}</p>
      <p class="shop-email">อีเมลล์ {{ shop.owner.email }}</p>
      <p class="shop-phone">โทรศัพท์ {{ shop.phone }}</p>
      <p class="shop-address">🏠
        {{shop.address}} {{shop.city}} {{shop.state}} {{shop.country}}
        {{shop.zipcode}}
      </p>
      <div class="button-div">
        <a href="{% url 'ecommerce:shop-edit' shop_id=shop.owner.id %}"><button class="edit-button">แก้ไขข้อมูล</button></a>
      </div>
    </div>
  </div>
</div>
<h1 class="shop-msg">สินค้าทั้งหมด</h1>
<a href="{% url 'ecommerce:shop-add' shop_id=shop.owner.id %}"><button class="add-item-button">เพิ่มสินค้า</button></a>
<div class="product-container">
  {% if items %} {% for item in items %}
  <div class="item-card">
    <a href="{% url 'ecommerce:product-detail' item.id %}"
      ><img class="item-img" src="{{item.img}}"
    /></a>
    <h2>{{ item.name }}</h2>
    <p class="item-category">{{ item.category}}</p>
    <div class="item-data">
      <h3 class="item-quantity">จำนวน {{ item.qty }}</h3>
      <h3 class="item-price">{{ item.price }} บาท</h3>
    </div>
    <div class="button-div">
    <a href="{% url 'ecommerce:delete-item' shop_id=shop.owner.id item_id=item.id %}"><button class="delete-button">
    ลบสินค้า</button></a>
  </div>
  </div>
  {% endfor %} {% else %}
  <p class="no-item">ไม่มีสินค้าในขณะนี้</p>
  {% endif %}
</div>
{% endblock %}