{% extends "base.html" %} {% load static %} {% block head %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/shop-profile.css' %}" />
{% endblock %}


<!-- add shop profile page here -->
{% block content %}

  <form method="post" action="{% url 'ecommerce:add-item-shop-submit' shop_id=shop.owner.id %}">
    {% csrf_token %}
    <label for="name">ชื่อสินค้า:</label>
    <input type="text" name="name" required="required"/>
    <br />
    <label for="desc">คำอธิบายสินค้า:</label>
    <input type="text" name="desc" required="required"/>
    <br />
    <label for="qty">จำนวน:</label>
    <input type="text" name="qty" required="required"/>
    <br />
    <label for="price">ราคา:</label>
    <input type="text" name="price" required="required"/>
    <br />
    <label for="img">URLรูปภาพ:</label>
    <input type="text" name="img" required="required"/>
    <br />
    <label for="category">ประเภทสินค้า:</label>
    <select name="category" >
    {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
    {% endfor %}
    </select>
    <br />
    <input type="submit" value="ยืนยัน" />
  </form>
</div>
{% endblock %}